:root{
    font-family: 'Public Sans', sans-serif;
    font-size: 10px;
    font-weight: 400;
    --color-black: #171717;
    --color-red: #D83933;
    --color-blue: #0050D8;
}

body{
    background: #F9F9F9;
    min-width: 700px;
    max-width: 1000px;
    margin: 0 auto;
}

.star{
    color: var(--color-red);
}

h1{
    margin-bottom: 80px;
    margin-top: 64px;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    color: var(--color-black);
}

p{
    font-size: 14px;
    line-height: 140%;
    color: var(--color-black);
}

h2{
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
    color: var(--color-black);
    margin-bottom: 32px;
}

.row{
    display: flex;
    justify-content: space-between;
    margin-top: 21px;
}
.section{
    display: flex;
    flex-direction: column;
}
select {
    padding: 9px 10px;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}

input{
    padding: 6px 10px;
    box-sizing: border-box;
    border: 1px solid #ADADAD;
    border-radius: 4px;
}
.input_title{
    font-weight: 500;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-black);
    margin-bottom: 8px;
}
.select_input{
    width: 400px;
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    color: var(--color-black);
}

.arrow{
    background-image: url(./img/arrow.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.checkbox{
    margin-right: 330px;
}

.checkbox-label{
    font-weight: 400;
    font-size: 16px;
    line-height: 140%;
    cursor: pointer;
}

input.checkbox-input{
    display: none;
}
.checkbox-input+label{
    display: inline-block;
    width: 24px;
    height: 24px;
    border: 1px solid grey;
    border-radius: 2px;
}

input.checkbox-input[type="checkbox"]:checked + label{
    border: none;
    background: #FF00FF;
    background-image: url(./img/white_arrow.png);
    background-repeat: no-repeat;
    background-position: center;
}
.label_pink{
    font-weight: 400;
    font-size: 16px;
    cursor: pointer;
}
.line{
    width: 100%;
    border-bottom: 1px solid #D1D1D1;
    margin: 0 auto;
    margin-top: 30px;
    margin-bottom: 32px;
}

.search{
    background-image: url(./img/search.svg);
    background-repeat: no-repeat;
    background-position: right;
}

.blue_text{
    color: var(--color-blue)
}

.btn_next{
    display: flex;
    justify-content: flex-end;
}

.btn{
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    color: #FFFFFF;
    background-color: var(--color-blue);
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    margin: 15px 0 40px 0;
    cursor: pointer;
}



